<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diao.qiang.mapper.TxffcMapper" >
  <resultMap id="BaseResultMap" type="com.diao.qiang.model.Txffc" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="qh" property="qh" jdbcType="VARCHAR" />
    <result column="kjh" property="kjh" jdbcType="VARCHAR" />
    <result column="kjDate" property="kjdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, qh, kjh, kjDate
  </sql>

  <select id="selectTxffcTop1" resultMap="BaseResultMap" parameterType="com.diao.qiang.model.Txffc" >
    select
    <include refid="Base_Column_List" />
    from txffc
    where qh = #{qh,jdbcType=VARCHAR} LIMIT 1
  </select>



  <insert id="insert" parameterType="com.diao.qiang.model.Txffc" >
    insert into txffc ( qh, kjh)
    values ( #{qh,jdbcType=VARCHAR}, #{kjh,jdbcType=VARCHAR})
  </insert>

</mapper>